*{
    box-sizing: border-box;
}
body, div, #parent, main, nav ul, footer, footer ul{
    margin:0px;
    padding:0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#parent{
    flex: 1;
    display: grid;
    margin:0px;
    min-height: 100vh;
    padding:0px;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    grid-template-areas: 
        "nav"
        "content"
        "footer";
}
header{
    display: none;
    grid-area:header;
}
main{
    grid-area: content;
    background-color: rgb(150, 150, 150);
    display: flex;       
    justify-content: center;   
    align-items: flex-start;
    padding: 40px 0;
    width: 100%;
    flex:1;
}
#notesMAIN{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
img{
    width:200px;
    margin-left: 10px;
}
nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(180, 180, 180);
    position: sticky;
    top:0;
    z-index: 2000;
    box-shadow: 0 2px 30px rgba(46, 125, 50, .5);
}
#innerULNAV{
    z-index: 1000;
}
nav ul, footer ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
}
nav ul li, footer ul li{
    margin: 0px 30px;
}
nav ul li button, footer ul li button{
    background-color: transparent;
    border: 1px solid #2E7D32; 
    color: #121212;
    padding: 15px 30px;
    margin: 10px 0px;
    width: auto;
    border-radius: 10px;
    transition: .5s;
    font-weight: 700;
}
nav ul li button:hover, footer ul li button:hover, .button:hover{
    background-color: rgba(46, 125, 50, 0.1); 
    border-color: #2E7D32; 
    cursor: pointer;
}
#dropdownArrow{
    display: none; 
    color: #2E7D32;
    
}
#navIMG{
    display: inline;
}

#indexOver{
    color:white;
    display: flex;
    flex-direction: row;
    gap:50px;
    width: 85%;
    height:auto;
}
#mainIndex, #sideIndex{
    flex: 1;
    border: 1px solid rgba(46, 125, 50, 0.2);
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(245, 245, 245);
    margin: 50px 2px;
    width: 45%;
    color:#121212;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25), 0 5px 15px rgba(46, 125, 50, 0.2);
}
#mainIndex{
    position: relative; 
    z-index: 1;
}

#GS, #oLogin{
    margin-top: 10px;
    font-weight: 600;
    background-color: transparent;
    color: #121212;
    border: 1px solid #2E7D32;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    transition: .5s;
}
#oLogin{
    margin: 25px 0px;
    margin-bottom: 30px;
}
#GS:hover, #oLogin:hover{
    font-size: 25px;
    background-color: rgba(46, 125, 50, 0.1); 
    border-color: #2E7D32;
    cursor: pointer;
}
#loginCard, #signUpCard{
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #2E7D32;
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
    padding: 40px;
    margin: 20px auto;
    height: auto;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25), 0 5px 15px rgba(46, 125, 50, 0.2);-shadow: 0 4px 20px #2E7D32;
}
#faqMain, #ppMain{
    display: flex;
    justify-content: center;
    align-items: center;
}
#faqCard{
    background-color: rgb(245, 245, 245);
    border: 1px solid #2E7D32;
    border-radius: 10px;
    color: black;
    max-width: 1000px;
    height:auto;
    padding: 20px;
}
#ppCard{
    background-color: white;
    border: 1px solid #2E7D32;
    color:black;
    border-radius: 10px;
    max-width: 1000px;
    padding:25px;
    height:auto;
}
.logins, .logins:-webkit-autofill, .logins:-webkit-autofill:hover, .logins:-webkit-autofill:focus {
    background-color: #ffffff !important;
    color: #121212 !important;
    border: 2px solid #2E7D32; 
    filter: none; 
    -webkit-text-fill-color: #121212 !important;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
    border-radius: 10px;
    padding: 10px;
    max-width: 600px;
    width: 75%;
}

.svg{
    width:50px;
}


footer{
    grid-area:footer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(180, 180, 180);
    box-shadow: 0 2px 30px rgba(46, 125, 50, .5);
}



#lSUP{
    margin-top: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 15px;
    width: 85%;
    text-align: center;
}
#footerDisable:hover{
    cursor:default;
    background-color: transparent;
}

#overall{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-start; 
    gap: 100px;              
    width: 100%;          
    padding: 20px;
    box-sizing: border-box;
}

.lefts, #views {
    display: flex;
    flex-direction: column;
    width: 100%;         
    max-width: 500px;     
    gap: 15px;
}

#title, #textbox, #view{
    width: 100%;        
    max-width: 700px;
    border: 1px solid #2E7D32;
    box-shadow: 0 0 20px rgba(46, 125, 50, .2);
    border-radius: 10px;
    transition: .5s;
    margin: 0px;
    box-sizing: border-box; 
    padding:10px;
    color:black;
    font-size: 17px;
    background-color: rgb(245, 245, 245);
    overflow-y: auto;
}
#title{
    height: 60px;           
    flex-shrink: 0;   
    overflow-y: auto; 
}
#textbox {
    height: 388px; 
    overflow-y: auto;
}
#view{
    height: 485px;
    overflow-y: auto;
}
.notesHeading{
    color:white;
    margin: 0px;
}

#buttons{
    display: flex;
    flex-direction: row;
}
.button{
    margin:10px;
    background-color: rgb(245, 245, 245);
    width:200px;
    border: none;
    border-radius: 5px;
    border-left: 3px solid #2E7D32;
    transition: .5s;
    padding: 10px;
    height: auto;
}
.button:hover{
    font-size: 20px;
}
#usernameNotes:hover{
    cursor: default;
}
#ppcheck{
    display: flex;
    flex-direction: row;
}
#pp{
   background-color: black;
    color: black;
    border-radius: 10px;
    padding: 10px;
}
#pp:hover{
    cursor: pointer;
}
#ppLink, .opposite{
    color: black;
    text-decoration: underline;
    transition: .5s;
}
#ppLink:hover, .opposite:hover{
    opacity: .5;
}



@media (max-width: 1100px) {
    #parent{
    flex: 1;
    display: grid;
    margin:0px;
    min-height: 100vh;
    padding:0px;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: auto;

    grid-template-areas: 
        "header"
        "nav"
        "content"
        "footer";
    }
    header{
        display: flex;
        justify-content: center;
        background-color: rgb(180, 180, 180); 
        padding: 10px 0;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    #headerIMG{
        padding:10px;
    }
   #navIMG{
        display: none;
    }
    nav ul, footer ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }
    nav ul li, footer ul li{
        margin: 5px;
    }
    nav ul li button, footer ul li button{
        padding: 10px 17px;         
        font-size: 14px; 
        margin: auto;         
    }
    #indexOver{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #sideIndex, #mainIndex{
        width:95%;
        margin: 0px;
    }

    #loginCard{
        margin: 60px 0px;
    }
    #faqCard, #ppCard{
        width: 95%;
        height:100%;
        padding: 20px;
    }
    #overall{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px !important; 
    }
    #buttons{
        display: flex;
        flex-direction: column;
    }
    .button{
        height:30px;
    }
    #title, #textbox, #view, .notesHeading {
        width: 100%;
        margin: 0px auto 0px auto;  
    }

}

