body, header, div, #parent, main, nav ul{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}
#parent{
    display: grid;
    margin:0px;
    min-height: 100vh;
    padding:0px;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: auto;

    grid-template-areas: 
        "header"
        "nav"
        "content"
        "footer";
}
header{
    grid-area:header;
    background-color: rgb(0, 0, 0);
    padding:20px;
    position: sticky;
    top:0;
}
#tongue{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-left:10px;
}
#headTitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#headTitle:hover{
    opacity: .5;
}
img{
    width:100px
}
#mainLink{
    margin:auto;
    color:white;
}
nav ul {
    display: flex;                
    list-style: none;
}
nav ul li {
    flex: 1;   
}
nav ul li button {
    width: 100%;           
    height: 100%;
    display: block;
    background-color: rgb(15, 15, 15);
    color: #FFD700;
    border:none;
    cursor: pointer;
    text-align: center;
    padding: 20px 0;     
}
header a:link, header a:visited{
    text-decoration:none;
    color: #FFD700;
}
header a:hover, header a:active {
    color:#FFD700;
    text-decoration:none;
}
#indexOver{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-start;  
    width: 100%;            
    gap: 20px;
}
#sideIndex{
    height:500px;
    width:45%;
    background-color: black;
    border:3px solid #FFD700;;
    border-radius: 10px;
    padding:30px;
    box-shadow: 0 0 30px #FFD700;
    color: white;
    margin:50px 30px;
}
#mainIndex{
    height:500px;
    width:45%;
    background-color: black;
    border:3px solid #FFD700;;
    border-radius: 10px;
    padding:30px;
    box-shadow: 0 0 30px #FFD700;
    color: white;
    margin:50px 30px;
}
#mainIndex button{
    width:150px;
     height:30px;
    background-color: #FFD700;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#QANDACARD{
    height:500px;
    width:65%;
    background-color: black;
    border:3px solid #FFD700;;
    border-radius: 10px;
    padding:30px;
    box-shadow: 0 0 30px #FFD700;
    color: white;
    margin: auto;
    margin-top:50px;
    overflow-y: auto;
}
#sideIndex, #QANDACARD, #mainIndex{
    min-height: 500px
}
button:hover{
    cursor: pointer;
}
main {
    grid-area: content;
    background-color: black;
    overflow-y: auto;  
    display: flex;       
    flex-direction: column;   
    justify-content: center;   
    align-items: center;      
    padding: 20px 0;
}
#loginCard input, #signUpCard input{
    width:150px;
    height:50px;
}
input{
    background-color: black;
    color:white;
    border:1px solid #FFD700;
    border: 10px;
}
#signUpCard, #loginCard{
    width: 90%;     
    max-width: 800px; 
    margin: 100px auto;
    background-color: black;
    border: 3px solid #FFD700;
    color: white;
    border-radius: 10px;
    padding: 75px 25px;       
    box-shadow: 0 0 120px #FFD700;
    box-sizing: border-box;
} 
#oLogin{
    background-color: black;
    color:white;
    width:90px;
    height:50px;
    border: 4px solid #FFD700;
    border-radius: 10px;
    margin-left:20px
}
#overall{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center; 
    gap: 45px;              
    padding: 40px;      
    width: 95%;
    box-sizing: border-box; 
}
.lefts{
   display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 600px; 
    flex-shrink: 0;
    gap: 15px;
}
.stacked{
    display: flex;
    flex-direction: column;
}
#title{
    height: 60px;           
    flex-shrink: 0;
    max-width:600px;
     margin: 20px auto;
    border: 3px solid #FFD700;
    box-shadow: 0 0 120px #FFD700;
    border-radius: 10px;
    color: white;
    padding: 15px;
    overflow-y: auto;
    box-sizing: border-box; 
    margin: 0 0 10px 0;
    width: 100%;
}
#textbox {
    width: 100%;
    min-height: 310px; 
    border: 3px solid #FFD700;
    border-radius: 10px;
    padding: 15px;
    color: white;
    overflow-y: auto;
    box-sizing: border-box; 
    box-shadow: 0 0 120px #FFD700;
}
#view {
    flex: 1;
    min-height: 400px;
    border: 3px solid #FFD700;
    border-radius: 10px;
    padding: 15px;
    color: white;
    overflow-y: auto;
    box-sizing: border-box;
    box-shadow: 0 0 120px #FFD700;
}
#keyboard{
    text-align: center;
}
#buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
footer {
    grid-area: footer;
    background-color: rgb(15, 15, 15);
    color: #FFD700;
    display: flex;
    align-items: center;         
    justify-content: center;     
    padding: 20px 0px;               
    text-align: center;           
}
#footerLink{
    margin:10px 30px;
    color: #FFD700;
    text-decoration: none;
}
footer a:link, footer a:visited{
    text-decoration:none;
} 
footer a:hover, footer a:active {
   text-decoration:none;
   opacity: .5;
}
.svg{
    width:50px;
}
#GS:hover{
    opacity: .5;
}
#usernameInput{
    border:1px solid white;
    border-radius: 10px;
    height:30px;
}
.button{
    background-color: black;
    color:white;
    border:1px solid white;
    width:120px;
    height:30px;
    border-radius: 10px;
    margin:0px 10px;
    margin-bottom: 10px; 
}

@media (max-width: 1100px) {
    #indexOver {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: flex-start;  
        width: 85%;            
        gap: 50px;
        height:125%;
    }

    #sideIndex, #mainIndex {
        width: 85% !important;
        margin: 20px -10px !important;  
        min-height: 300px; 
        align-items: center;
        justify-content: center;
        height:95%;
        overflow-y: auto;
    }
    #loginCard, #signUpCard {
        display: flex;
        flex-direction: column; 
        align-items: center;  
        justify-content: center; 
        width:80%;
        margin:20px auto;
    }
    #oLogin, #loginCard input, #signUpCard input{
        width:95%;
        margin:15px;
    }
    #overall {
        flex-direction: column; 
        align-items: center;   
        padding: 20px 10px;   
        width: 100%;
        box-sizing: border-box;
    }
    .lefts{
        width: 83%;            
        max-width: none;        
        align-items: center;
    }
    #view {
        width: 83% !important; 
        min-height: 300px;
        height: auto;     
    }
    #buttons {
        display: flex;
        flex-direction: column;
        margin-top: 20px; 
        padding-bottom: 20px; 
    }
    footer p, footer a{
        margin:0px 5px;
    }
}