body, header, div, #parent, main, nav ul{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}

#parent{
    display: grid;
    margin:0px;
    min-height: 100vh;
    padding:0px;
    grid-template-rows: auto 50px 1fr 50px;
    grid-template-columns: auto;

        grid-template-areas: 
        "header"
        "nav"
        "content"
        "footer";
}


header{
    
    grid-area:header;
    background-color: rgb(0, 0, 0);
    padding:20px;
    position: sticky;
    top:0;
}
#mainLink{
    margin:auto;
    color:white;
}

nav ul {
    display: flex;                
    list-style: none;
}
nav ul li {
    flex: 1;   
}

nav ul li button {
    width: 100%;           
    height: 100%;
    display: block;
    background-color: rgb(15, 15, 15);
    color: white;
    border:none;
    cursor: pointer;
    text-align: center;
    padding: 20px 0;     
}
nav button:link, nav button:visited{
    text-decoration:none;
}
nav button:hover, nav button:active {
    background-color: rgb(255, 255, 255);
    color:black;
   text-decoration:none;
}
header a:link, header a:visited{
    text-decoration:none;
    color:rgb(133, 133, 133)
}
header a:hover, header a:active {
    color:rgb(133, 133, 133);
   text-decoration:none;
}
#mainIndex{
    height:500px;
    width:800px;
    border:3px solid black;
    border-radius: 10px;
    margin:auto;
    margin-top:50px;
    padding:30px;
    box-shadow: 0 0 70px black;
}



main{
    grid-area:content;
    background-color: whitesmoke;
}
#loginCard input{
    width:150px;
    height:50px;
}
input{
    background-color: black;
    color:white;
}
#loginCard{
    width:600px;
    margin:auto;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    margin-top:100px;
    padding:80px;
    box-shadow:0 0 120px black;
}
#oLogin{
    background-color: black;
    color:white;
    width:90px;
    height:50px;
    border: 4px solid rgb(77, 77, 77);;
    margin-left:20px
}
#overall{
    display: flex;
}
#textbox, #view{
    width: 45%;
    height:500px;
    width:600px;
    border:1px solid black;
    margin:auto;
    margin-top:50px;
    box-shadow:0 0 120px black;
}
#textbox:hover, #view:hover{
    border:3px solid black;
}
#keyboard{
    text-align: center;
}
#buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}



footer{ 
    grid-area: footer;
    background-color: black;
    color:white;
}