body, header, div, #parent, main, nav ul, footer, footer ul{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}
#parent{
    display: grid;
    margin:0px;
    min-height: 100vh;
    padding:0px;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: auto;

    grid-template-areas: 
        "header"
        "nav"
        "content"
        "footer";
}
header{
    grid-area:header;
    background-color: rgb(0, 0, 0);
    padding:20px;
    position: sticky;
    top:0;
}
#tongue{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-left:10px;
    text-shadow: 5px 5px 8px white;
}
#headTitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: .5s;
    text-shadow: 5px 5px 8px #FFD700;
    border: none;
}
#headTitle:hover{
    opacity: .5;
}
img{
    width:100px
}
#mainLink{
    margin:auto;
    color:rgb(255, 255, 255);
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    flex: 1;  
}
nav ul li button {
    width: 100%;           
    height: 100%;
    background-color: rgb(15, 15, 15);
    color: #FFD700;
    border:none;
    cursor: pointer;
    text-align: center;
    padding: 20px 0;     
    text-shadow: 5px 5px 5px #FFD700;
}
header a:link, header a:visited{
    text-decoration:none;
    color: #FFD700;
}
header a:hover, header a:active {
    color:#FFD700;
    text-decoration:none;
}
#indexOver{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-start;  
    width: 100%;            
    gap: 20px;
}
#sideIndex, #mainIndex{
    height:500px;
    width:45%;
    background-color: rgb(15, 15, 15);
    border:1px solid #FFD700;;
    border-radius: 10px;
    padding:30px;
    color: white;
    margin:50px 30px;
    box-shadow: 0 4px 20px #FFD700;
    transition: .5s;
}
#QANDACARD{
    font-size: 17px;
    font-family: sans-serif;
    height:500px;
    width:65%;
    background-color: black;
    border:1px solid #FFD700;;
    border-radius: 10px;
    padding:30px;
    color: white;
    margin: auto;
    margin-top:50px;
    overflow-y: auto;
    box-shadow: 0px 4px 20px #FFD700;
    transition: .5s;
}
#sideIndex, #QANDACARD, #mainIndex{
    min-height: 500px
}
#saveButton, #getButton{
    transition: .5s;
}
#saveButton:hover, #getButton:hover{
    cursor: pointer;
    box-shadow: inset 0px 0px 20px white; 
}
.hovers{
    transition: 1s;
}
#copyRight:hover{
    cursor: default;
}
main {
    grid-area: content;
    background-color: black;
    overflow-y: auto;  
    display: flex;       
    flex-direction: column;   
    justify-content: center;   
    align-items: center;      
    padding: 20px 0;
}
#loginCard input{
    width:85%;
    max-width: 350px;
    height:50px;
    filter: drop-shadow(2px 2px 4px #FFD700);
    margin: 8px 0px;
    padding: 8px;
    border-radius: 10px;
}
#signUpCard input{
    width:85%;
    max-width: 350px;
    height:50px;
    filter: drop-shadow(2px 2px 4px #FFD700);
    margin: 0px 0px;
    padding: 8px;
    border-radius: 10px;
}
input, input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    background-color: black;
    color: white;
    border: 1px solid #FFD700;
    border-radius: 2px; 
    transition: background-color 5000s ease-in-out 0s; 
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px black inset !important;
}
#signUpCard, #loginCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #FFD700;
    color: white;
    padding: 30px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:85%;
    max-width: 400px;
    height: 85%;
    max-height: 450px;
    box-shadow: 0 0 20px #FFD700;
    transition: .5s;
} 
#signUpCard{
    height: 95%;
    max-height: 600px;
    margin: 30px 0px;
}
#oLogin{
    background-color: #FFD700;
    color:blacks;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    width:85%;
    height:50px;
    border: 1.5px solid #FFD700;
    border-radius: 10px;
    transition: .5s;
    margin-top:30px;
    font-size: 20px;
}
#oLogin:hover{
    opacity: .5;
    cursor: pointer;
}
#overall{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center; 
    gap: 45px;              
    padding: 40px;      
    width: 95%;
    box-sizing: border-box; 
}
.lefts{
   display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 600px; 
    flex-shrink: 0;
    gap: 15px;
}
.stacked{
    display: flex;
    flex-direction: column;
}
.noteCards{
    transition: transform 1s ease-in-out;
}
.noteCards:hover{
    transform: scale(1.1);
}
#title{
    height: 60px;           
    flex-shrink: 0;
    max-width:600px;
    margin: 20px auto;
    border: 1px solid #FFD700;
    box-shadow: 0 0 20px #FFD700;
    border-radius: 10px;
    color: white;
    padding: 15px;
    overflow-y: auto;
    box-sizing: border-box; 
    margin: 0 0 10px 0;
    width: 100%;
    transition: .5s;
}
#textbox {
    width: 100%;
    min-height: 310px; 
    border: 1px solid #FFD700;
    border-radius: 10px;
    padding: 15px;
    color: white;
    overflow-y: auto;
    box-sizing: border-box; 
    box-shadow: 0 0 20px #FFD700;
    transition: .5s;
}

#keyboard{
    text-align: center;
}
#buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.notesHeading{
    color:white;
}
#views{
    display: flex;
    flex-direction: column;
    flex: 1;
}
#view{
    min-height: 485px;
    border: 1px solid #FFD700;
    border-radius: 10px;
    padding: 15px;
    color: white;
    overflow-y: auto;
    box-sizing: border-box;
    box-shadow: 0 0 20px #FFD700;
    transition: .5s;
}
.svg{
    width:50px;
}
#GS{
    width:150px;
    height:30px;
    background-color: black;
    color: #FFD700;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: .8s;
}
#GS:hover{
    scale: 1.2;
    cursor: pointer;
}
#usernameInput{
    border:1px solid white;
    border-radius: 10px;
    height:30px;
}
.button{
    background-color: black;
    color:white;
    border:1px solid white;
    width:120px;
    height:30px;
    border-radius: 10px;
    margin:0px 10px;
    margin-bottom: 10px; 
}
footer ul{
    display: flex;
    list-style: none;
}
footer ul li{
    flex: 1;  
}
footer ul li button {
    width: 100%;           
    height: 100%;
    background-color: rgb(15, 15, 15);
    color: #FFD700;
    border:none;
    cursor: pointer;
    text-align: center;
    padding: 20px 0;     
    text-shadow: 5px 5px 5px #FFD700;
}

@media (max-width: 1100px) {
    #indexOver {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: flex-start;  
        width: 85%;            
        gap: 50px;
        height:125%;
    }

    #sideIndex, #mainIndex {
        width: 85% !important;
        margin: 20px -10px !important;  
        min-height: 300px; 
        align-items: center;
        justify-content: center;
        height:85%;
        overflow-y: auto;
    }
    #loginCard, #signUpCard {
        display: flex;
        align-items: center;  
        justify-content: center; 
        width:75%;
        margin:20px auto;
    }
    #loginCard input, #signUpCard input{
        width:95%;
        margin:15px;
    }
    #overall {
        flex-direction: column; 
        align-items: center;   
        padding: 20px 10px;   
        width: 100%;
        box-sizing: border-box;
    }
    .lefts{
        width: 83%;            
        max-width: none;        
        align-items: center;
    }
    /* #view {
        width: 83% !important; 
        min-height: 300px;
        height: auto;     
    } */
    #views{
        display: flex;
        flex-direction: column;
        flex: 1;
        width:83%;
    }
    .notesHeading{
        text-align: center;
    }
    #buttons {
        display: flex;
        flex-direction: column;
        margin-top: 20px; 
        padding-bottom: 20px; 
    }
    #copyRight{
        font-size: 10px;
    }
   
}